body,
html {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.selected {
  background: rgba(0, 0, 0, 0.1);
  font-weight: bold;
}
